/* In your CSS file or in a component-specific CSS file */
.carousel-container {
    max-width: 800px; /* Adjust the container width as needed */
    margin: 0 auto;
    padding: 20px;
  }
  
   
  
  /* Style for the carousel title */
  .carousel-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
   
  
  /* Style for individual carousel slides */
  .slick-slide {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    
    /* height: 300px !important; */
 
  }
  
   
  
  /* Style for slide images */
  .slick-slide img {
    width: 100%;
    height:350px;
    object-fit: cover;
  border-radius: 8px;
  animation: upDownAnimation 2s infinite; /* Apply the animation to the images */
  }
  
   
  
  /* Style for the carousel navigation dots */
  .slick-dots {
    text-align: center;
    margin-top: 20px;
  }
  
   
  
  /* Style for each dot in the navigation */
  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  
   
  
  /* Style for active dot */
  .slick-dots li.slick-active button {
    background-color: #54585c; /* Change the active dot's background color */
  }



  
   
  
  /* Style for the caption under the carousel */
  figcaption {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: #666;
  }

